html, body {
    background: white;
    padding: 0;
    margin: 0;
    touch-action: manipulation; 
    overflow-x: hidden; 
    max-width: 100vw;
    @media (min-width: 1200px) {
        background: #ececec;
    }
}